/*  *{
    border: 3px solid red;
}*/
div{
    border: 3px solid red;
}
/*.jeden{
    border: 3px solid red;
}
 */
/*.dwa{
    border: 3px solid red;
}  */
/*#duże-pudelko div{
    border: 3px solid red;
}*/
.trzy - div{
    border: 3px solid red;
}